		<div class="panel-group material-accordion" id="accordion">
			<div class="panel panel-default material-accordion__panel">
				<div class="panel-heading material-accordion__heading" id="acc_headingOne">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#acc_collapseOne" class="material-accordion__title">Collapsible Group Item #1</a>
					</h4>
				</div>
				<div id="acc_collapseOne" class="panel-collapse collapse in material-accordion__collapse">
					<div class="panel-body">
						Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
					</div>
				</div>
			</div>
			<div class="panel panel-default material-accordion__panel">
				<div class="panel-heading material-accordion__heading" id="acc_headingTwo">
					<h4 class="panel-title">
						<a class="collapsed material-accordion__title" data-toggle="collapse" data-parent="#accordion" href="#acc_collapseTwo">Collapsible Group Item #2</a>
					</h4>
				</div>
				<div id="acc_collapseTwo" class="panel-collapse collapse material-accordion__collapse">
					<div class="panel-body">
						Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
					</div>
				</div>
			</div>
		</div>
		@@if (show_code === "true") {
		<div class="highlight example_code">
			<pre>
				<code class="language-html" data-lang="html">
&lt;div class="panel-group material-accordion" id="accordion"&gt;
 &lt;div class="panel panel-default material-accordion__panel material-accordion__panel"&gt;
  &lt;div class="panel-heading material-accordion__heading" id="acc_headingOne"&gt;
   &lt;h4 class="panel-title"&gt;
    &lt;a data-toggle="collapse" data-parent="#accordion" href="#acc_collapseOne" class="material-accordion__title"&gt;Collapsible...&lt;/a&gt;
   &lt;/h4&gt;
  &lt;/div&gt;
  &lt;div id="acc_collapseOne" class="panel-collapse collapse in material-accordion__collapse"&gt;
   &lt;div class="panel-body"&gt;...&lt;/div&gt;
  &lt;/div&gt;
 &lt;/div&gt;
 &lt;div class="panel panel-default material-accordion__panel"&gt;
  &lt;div class="panel-heading material-accordion__heading" id="acc_headingTwo"&gt;
   &lt;h4 class="panel-title"&gt;
    &lt;a class="collapsed material-accordion__title" data-toggle="collapse" data-parent="#accordion" href="#acc_collapseTwo"&gt;Collapsible...&lt;/a&gt;
   &lt;/h4&gt;
  &lt;/div&gt;
  &lt;div id="acc_collapseTwo" class="panel-collapse collapse material-accordion__collapse"&gt;
   &lt;div class="panel-body"&gt;...&lt;/div&gt;
  &lt;/div&gt;
 &lt;/div&gt;
&lt;/div&gt;
				</code>
			</pre>
		</div>		
		}
		<div class="panel-group material-accordion material-accordion_primary" id="accordion1">
			<div class="panel panel-default material-accordion__panel material-accordion__panel">
				<div class="panel-heading material-accordion__heading" id="acc1_headingOne">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion1" href="#acc1_collapseOne" class="material-accordion__title">Collapsible Group Item #1</a>
					</h4>
				</div>
				<div id="acc1_collapseOne" class="panel-collapse collapse in material-accordion__collapse">
					<div class="panel-body">
						Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
					</div>
				</div>
			</div>
			<div class="panel panel-default material-accordion__panel">
				<div class="panel-heading material-accordion__heading">
					<h4 class="panel-title">
						<a class="collapsed material-accordion__title" data-toggle="collapse" data-parent="#accordion1" href="#acc1_collapseTwo">Collapsible Group Item #2</a>
					</h4>
				</div>
				<div id="acc1_collapseTwo" class="panel-collapse collapse material-accordion__collapse">
					<div class="panel-body">
						Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
					</div>
				</div>
			</div>
		</div>
		@@if (show_code === "true") {
		<div class="highlight example_code">
			<pre>
				<code class="language-html" data-lang="html">
&lt;div class="panel-group material-accordion material-accordion_primary" id="accordion1"&gt;
 &lt;div class="panel panel-default material-accordion__panel material-accordion__panel"&gt;
  &lt;div class="panel-heading material-accordion__heading" id="acc1_headingOne"&gt;
   &lt;h4 class="panel-title"&gt;
    &lt;a data-toggle="collapse" data-parent="#accordion1" href="#acc1_collapseOne" class="material-accordion__title"&gt;Collapsible...&lt;/a&gt;
   &lt;/h4&gt;
  &lt;/div&gt;
  &lt;div id="acc1_collapseOne" class="panel-collapse collapse in material-accordion__collapse"&gt;
   &lt;div class="panel-body"&gt;...&lt;/div&gt;
  &lt;/div&gt;
 &lt;/div&gt;
 &lt;div class="panel panel-default material-accordion__panel"&gt;
  &lt;div class="panel-heading material-accordion__heading"&gt;
   &lt;h4 class="panel-title"&gt;
    &lt;a class="collapsed material-accordion__title" data-toggle="collapse" data-parent="#accordion1" href="#acc1_collapseTwo"&gt;Collapsible...&lt;/a&gt;
   &lt;/h4&gt;
  &lt;/div&gt;
  &lt;div id="acc1_collapseTwo" class="panel-collapse collapse material-accordion__collapse"&gt;
   &lt;div class="panel-body"&gt;...&lt;/div&gt;
  &lt;/div&gt;
 &lt;/div&gt;
&lt;/div&gt;
				</code>
			</pre>
		</div>
		}
		<div class="panel-group material-accordion material-accordion_success" id="accordion2">
			<div class="panel panel-default material-accordion__panel material-accordion__panel">
				<div class="panel-heading material-accordion__heading" id="acc2_headingOne">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion2" href="#acc2_collapseOne" class="material-accordion__title">Collapsible Group Item #1</a>
					</h4>
				</div>
				<div id="acc2_collapseOne" class="panel-collapse collapse in material-accordion__collapse">
					<div class="panel-body">
						Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
					</div>
				</div>
			</div>
			<div class="panel panel-default material-accordion__panel">
				<div class="panel-heading material-accordion__heading">
					<h4 class="panel-title">
						<a class="collapsed material-accordion__title" data-toggle="collapse" data-parent="#accordion2" href="#acc2_collapseTwo">Collapsible Group Item #2</a>
					</h4>
				</div>
				<div id="acc2_collapseTwo" class="panel-collapse collapse material-accordion__collapse">
					<div class="panel-body">
						Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
					</div>
				</div>
			</div>
		</div>
		@@if (show_code === "true") {
		<div class="highlight example_code">
			<pre>
				<code class="language-html" data-lang="html">
&lt;div class="panel-group material-accordion material-accordion_success" id="accordion2"&gt;
 &lt;div class="panel panel-default material-accordion__panel material-accordion__panel"&gt;
  &lt;div class="panel-heading material-accordion__heading" id="acc2_headingOne"&gt;
   &lt;h4 class="panel-title"&gt;
    &lt;a data-toggle="collapse" data-parent="#accordion2" href="#acc2_collapseOne" class="material-accordion__title"&gt;Collapsible...&lt;/a&gt;
   &lt;/h4&gt;
  &lt;/div&gt;
  &lt;div id="acc2_collapseOne" class="panel-collapse collapse in material-accordion__collapse"&gt;
   &lt;div class="panel-body"&gt;...&lt;/div&gt;
  &lt;/div&gt;
 &lt;/div&gt;
 &lt;div class="panel panel-default material-accordion__panel"&gt;
  &lt;div class="panel-heading material-accordion__heading"&gt;
   &lt;h4 class="panel-title"&gt;
    &lt;a class="collapsed material-accordion__title" data-toggle="collapse" data-parent="#accordion2" href="#acc2_collapseTwo"&gt;Collapsible...&lt;/a&gt;
   &lt;/h4&gt;
  &lt;/div&gt;
  &lt;div id="acc2_collapseTwo" class="panel-collapse collapse material-accordion__collapse"&gt;
   &lt;div class="panel-body"&gt;...&lt;/div&gt;
  &lt;/div&gt;
 &lt;/div&gt;
&lt;/div&gt;
				</code>
			</pre>
		</div>
		}
		<div class="panel-group material-accordion material-accordion_info" id="accordion3">
			<div class="panel panel-default material-accordion__panel material-accordion__panel">
				<div class="panel-heading material-accordion__heading" id="acc3_headingOne">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion3" href="#acc3_collapseOne" class="material-accordion__title">Collapsible Group Item #1</a>
					</h4>
				</div>
				<div id="acc3_collapseOne" class="panel-collapse collapse in material-accordion__collapse">
					<div class="panel-body">
						Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
					</div>
				</div>
			</div>
			<div class="panel panel-default material-accordion__panel">
				<div class="panel-heading material-accordion__heading">
					<h4 class="panel-title">
						<a class="collapsed material-accordion__title" data-toggle="collapse" data-parent="#accordion3" href="#acc3_collapseTwo">Collapsible Group Item #2</a>
					</h4>
				</div>
				<div id="acc3_collapseTwo" class="panel-collapse collapse material-accordion__collapse">
					<div class="panel-body">
						Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
					</div>
				</div>
			</div>
		</div>
		@@if (show_code === "true") {
		<div class="highlight example_code">
			<pre>
				<code class="language-html" data-lang="html">
&lt;div class="panel-group material-accordion material-accordion_info" id="accordion3"&gt;
 &lt;div class="panel panel-default material-accordion__panel material-accordion__panel"&gt;
  &lt;div class="panel-heading material-accordion__heading" id="acc3_headingOne"&gt;
   &lt;h4 class="panel-title"&gt;
    &lt;a data-toggle="collapse" data-parent="#accordion3" href="#acc3_collapseOne" class="material-accordion__title"&gt;Collapsible...&lt;/a&gt;
   &lt;/h4&gt;
  &lt;/div&gt;
  &lt;div id="acc3_collapseOne" class="panel-collapse collapse in material-accordion__collapse"&gt;
   &lt;div class="panel-body"&gt;...&lt;/div&gt;
  &lt;/div&gt;
 &lt;/div&gt;
 &lt;div class="panel panel-default material-accordion__panel"&gt;
  &lt;div class="panel-heading material-accordion__heading"&gt;
   &lt;h4 class="panel-title"&gt;
    &lt;a class="collapsed" data-toggle="collapse material-accordion__title" data-parent="#accordion3" href="#acc3_collapseTwo"&gt;Collapsible...&lt;/a&gt;
   &lt;/h4&gt;
  &lt;/div&gt;
  &lt;div id="acc3_collapseTwo" class="panel-collapse collapse material-accordion__collapse"&gt;
   &lt;div class="panel-body"&gt;...&lt;/div&gt;
  &lt;/div&gt;
 &lt;/div&gt;
&lt;/div&gt;
				</code>
			</pre>
		</div>
		}
		<div class="panel-group material-accordion material-accordion_danger" id="accordion4">
			<div class="panel panel-default material-accordion__panel material-accordion__panel">
				<div class="panel-heading material-accordion__heading" id="acc4_headingOne">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion4" href="#acc4_collapseOne" class="material-accordion__title">Collapsible Group Item #1</a>
					</h4>
				</div>
				<div id="acc4_collapseOne" class="panel-collapse collapse in material-accordion__collapse">
					<div class="panel-body">
						Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
					</div>
				</div>
			</div>
			<div class="panel panel-default material-accordion__panel">
				<div class="panel-heading material-accordion__heading">
					<h4 class="panel-title">
						<a class="collapsed material-accordion__title" data-toggle="collapse" data-parent="#accordion4" href="#acc4_collapseTwo">Collapsible Group Item #2</a>
					</h4>
				</div>
				<div id="acc4_collapseTwo" class="panel-collapse collapse material-accordion__collapse" role="tabpanel">
					<div class="panel-body">
						Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
					</div>
				</div>
			</div>
		</div>
		@@if (show_code === "true") {
		<div class="highlight example_code">
			<pre>
				<code class="language-html" data-lang="html">
&lt;div class="panel-group material-accordion material-accordion_danger" id="accordion4"&gt;
 &lt;div class="panel panel-default material-accordion__panel material-accordion__panel"&gt;
  &lt;div class="panel-heading material-accordion__heading" id="acc4_headingOne"&gt;
   &lt;h4 class="panel-title"&gt;
    &lt;a data-toggle="collapse" data-parent="#accordion4" href="#acc4_collapseOne" class="material-accordion__title"&gt;Collapsible...&lt;/a&gt;
   &lt;/h4&gt;
  &lt;/div&gt;
  &lt;div id="acc4_collapseOne" class="panel-collapse collapse in material-accordion__collapse"&gt;
   &lt;div class="panel-body"&gt;...&lt;/div&gt;
  &lt;/div&gt;
 &lt;/div&gt;
 &lt;div class="panel panel-default material-accordion__panel"&gt;
  &lt;div class="panel-heading material-accordion__heading"&gt;
   &lt;h4 class="panel-title"&gt;
    &lt;a class="collapsed material-accordion__title" data-toggle="collapse" data-parent="#accordion4" href="#acc4_collapseTwo"&gt;Collapsible...&lt;/a&gt;
   &lt;/h4&gt;
  &lt;/div&gt;
  &lt;div id="acc4_collapseTwo" class="panel-collapse collapse material-accordion__collapse" role="tabpanel"&gt;
   &lt;div class="panel-body"&gt;...&lt;/div&gt;
  &lt;/div&gt;
 &lt;/div&gt;
&lt;/div&gt;
				</code>
			</pre>
		</div>		
		}
		<div class="panel-group material-accordion material-accordion_warning" id="accordion5">
			<div class="panel panel-default material-accordion__panel material-accordion__panel">
				<div class="panel-heading material-accordion__heading" id="acc5_headingOne">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion5" href="#acc5_collapseOne" class="material-accordion__title">Collapsible Group Item #1</a>
					</h4>
				</div>
				<div id="acc5_collapseOne" class="panel-collapse collapse in material-accordion__collapse">
					<div class="panel-body">
					Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
					</div>
				</div>
			</div>
			<div class="panel panel-default material-accordion__panel">
				<div class="panel-heading material-accordion__heading">
					<h4 class="panel-title">
						<a class="collapsed material-accordion__title" data-toggle="collapse" data-parent="#accordion5" href="#acc5_collapseTwo">Collapsible Group Item #2</a>
					</h4>
				</div>
				<div id="acc5_collapseTwo" class="panel-collapse collapse material-accordion__collapse">
					<div class="panel-body">
						Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
					</div>
				</div>
			</div>
		</div>		
		@@if (show_code === "true") {
		<div class="highlight example_code">
			<pre>
				<code class="language-html" data-lang="html">
&lt;div class="panel-group material-accordion material-accordion_warning" id="accordion5"&gt;
 &lt;div class="panel panel-default material-accordion__panel material-accordion__panel"&gt;
  &lt;div class="panel-heading material-accordion__heading" id="acc5_headingOne"&gt;
   &lt;h4 class="panel-title"&gt;
    &lt;a data-toggle="collapse" data-parent="#accordion5" href="#acc5_collapseOne" class="material-accordion__title"&gt;Collapsible...&lt;/a&gt;
   &lt;/h4&gt;
  &lt;/div&gt;
  &lt;div id="acc5_collapseOne" class="panel-collapse collapse in material-accordion__collapse"&gt;
   &lt;div class="panel-body"&gt;...&lt;/div&gt;
  &lt;/div&gt;
 &lt;/div&gt;
 &lt;div class="panel panel-default material-accordion__panel"&gt;
  &lt;div class="panel-heading material-accordion__heading"&gt;
   &lt;h4 class="panel-title"&gt;
    &lt;a class="collapsed material-accordion__title" data-toggle="collapse" data-parent="#accordion5" href="#acc5_collapseTwo"&gt;Collapsible...&lt;/a&gt;
   &lt;/h4&gt;
  &lt;/div&gt;
  &lt;div id="acc5_collapseTwo" class="panel-collapse collapse material-accordion__collapse"&gt;
   &lt;div class="panel-body"&gt;...&lt;/div&gt;
  &lt;/div&gt;
 &lt;/div&gt;
&lt;/div&gt;
				</code>
			</pre>
		</div>
		}