		<span class="badge material-badge material-badge_success material-badge_lg @@if (show_code === "false") {main-container__column}">10</span>
		<span class="badge material-badge material-badge_info @@if (show_code === "false") {main-container__column}">8</span>
		<span class="badge material-badge material-badge_danger material-badge_sm @@if (show_code === "false") {main-container__column}">5</span>
		<span class="badge material-badge material-badge_warning material-badge_xs @@if (show_code === "false") {main-container__column}">10</span>	

		<span class="badge material-badge material-badge_success material-badge_lg @@if (show_code === "false") {main-container__column}">999</span>
		<span class="badge material-badge material-badge_info @@if (show_code === "false") {main-container__column}">999</span>
		<span class="badge material-badge material-badge_danger material-badge_sm @@if (show_code === "false") {main-container__column}">999</span>
		<span class="badge material-badge material-badge_warning material-badge_xs @@if (show_code === "false") {main-container__column}">999</span>	


		<span class="badge material-badge material-badge_success material-badge_lg @@if (show_code === "false") {main-container__column}">9999</span>
		<span class="badge material-badge material-badge_info @@if (show_code === "false") {main-container__column}">9999</span>
		<span class="badge material-badge material-badge_danger material-badge_sm @@if (show_code === "false") {main-container__column}">9999</span>
		<span class="badge material-badge material-badge_warning material-badge_xs @@if (show_code === "false") {main-container__column}">9999</span>	

		@@if (show_code === "true") {
		<div class="highlight example_code">
			<pre>
				<code class="language-html" data-lang="html">
&lt;span class="badge material-badge material-badge_success material-badge_lg"&gt;10&lt;/span&gt;
&lt;span class="badge material-badge material-badge_info"&gt;8&lt;/span&gt;
&lt;span class="badge material-badge material-badge_danger material-badge_sm"&gt;5&lt;/span&gt;
&lt;span class="badge material-badge material-badge_warning material-badge_xs"&gt;10&lt;/span&gt;
				</code>
			</pre>
		
		}