		<ol class="breadcrumb material-breadcrumb">
			<li class="material-breadcrumb__item"><a href="#" class="material-breadcrumb__link">Home</a></li>
			<li class="material-breadcrumb__item"><a href="#" class="material-breadcrumb__link">Library</a></li>
			<li class="material-breadcrumb__item"><span class="material-breadcrumb__active-element">Data</span></li>
		</ol>
		@@if (show_code === "true") {
		<div class="highlight example_code">
			<pre>
				<code class="language-html" data-lang="html">
&lt;ol class="breadcrumb material-breadcrumb"&gt;
 &lt;li&gt;&lt;a href="#" class="material-breadcrumb__link"&gt;Home&lt;/a&gt;&lt;/li&gt;
 &lt;li&gt;&lt;a href="#" class="material-breadcrumb__link"&gt;Library&lt;/a&gt;&lt;/li&gt;
 &lt;li&gt;Data&lt;/li&gt;
&lt;/ol&gt;
				</code>
			</pre>
		</div>
		}
		
		<ol class="breadcrumb material-breadcrumb material-breadcrumb_primary">
			<li class="material-breadcrumb__item"><a href="#" class="material-breadcrumb__link">Home</a></li>
			<li class="material-breadcrumb__item"><a href="#" class="material-breadcrumb__link">Library</a></li>
			<li class="material-breadcrumb__item"><span class="material-breadcrumb__active-element">Data</span></li>
		</ol>
		@@if (show_code === "true") {
		<div class="highlight example_code">
			<pre>
				<code class="language-html" data-lang="html">
&lt;ol class="breadcrumb material-breadcrumb material-breadcrumb_primary"&gt;
 &lt;li&gt;&lt;a href="#" class="material-breadcrumb__link"&gt;Home&lt;/a&gt;&lt;/li&gt;
 &lt;li&gt;&lt;a href="#" class="material-breadcrumb__link"&gt;Library&lt;/a&gt;&lt;/li&gt;
 &lt;li&gt;Data&lt;/li&gt;
&lt;/ol&gt;
				</code>
			</pre>
		</div>
		}	

		<ol class="breadcrumb material-breadcrumb material-breadcrumb_success">
			<li class="material-breadcrumb__item"><a href="#" class="material-breadcrumb__link">Home</a></li>
			<li class="material-breadcrumb__item"><a href="#" class="material-breadcrumb__link">Library</a></li>
			<li class="material-breadcrumb__item"><span class="material-breadcrumb__active-element">Data</span></li>
		</ol>
		@@if (show_code === "true") {
		<div class="highlight example_code">
			<pre>
				<code class="language-html" data-lang="html">
&lt;ol class="breadcrumb material-breadcrumb material-breadcrumb_success"&gt;
 &lt;li&gt;&lt;a href="#" class="material-breadcrumb__link"&gt;Home&lt;/a&gt;&lt;/li&gt;
 &lt;li&gt;&lt;a href="#" class="material-breadcrumb__link"&gt;Library&lt;/a&gt;&lt;/li&gt;
 &lt;li&gt;Data&lt;/li&gt;
&lt;/ol&gt;
				</code>
			</pre>
		</div>
		}	

		<ol class="breadcrumb material-breadcrumb material-breadcrumb_info">
			<li class="material-breadcrumb__item"><a href="#" class="material-breadcrumb__link">Home</a></li>
			<li class="material-breadcrumb__item"><a href="#" class="material-breadcrumb__link">Library</a></li>
			<li class="material-breadcrumb__item"><span class="material-breadcrumb__active-element">Data</span></li>
		</ol>
		@@if (show_code === "true") {
		<div class="highlight example_code">
			<pre>
				<code class="language-html" data-lang="html">
&lt;ol class="breadcrumb material-breadcrumb material-breadcrumb_info"&gt;
 &lt;li&gt;&lt;a href="#" class="material-breadcrumb__link"&gt;Home&lt;/a&gt;&lt;/li&gt;
 &lt;li&gt;&lt;a href="#" class="material-breadcrumb__link"&gt;Library&lt;/a&gt;&lt;/li&gt;
 &lt;li&gt;Data&lt;/li&gt;
&lt;/ol&gt;
				</code>
			</pre>
		</div>
		}	

		<ol class="breadcrumb material-breadcrumb material-breadcrumb_danger">
			<li class="material-breadcrumb__item"><a href="#" class="material-breadcrumb__link">Home</a></li>
			<li class="material-breadcrumb__item"><a href="#" class="material-breadcrumb__link">Library</a></li>
			<li class="material-breadcrumb__item"><span class="material-breadcrumb__active-element">Data</span></li>
		</ol>
		@@if (show_code === "true") {
		<div class="highlight example_code">
			<pre>
				<code class="language-html" data-lang="html">
&lt;ol class="breadcrumb material-breadcrumb material-breadcrumb_danger"&gt;
 &lt;li&gt;&lt;a href="#" class="material-breadcrumb__link"&gt;Home&lt;/a&gt;&lt;/li&gt;
 &lt;li&gt;&lt;a href="#" class="material-breadcrumb__link"&gt;Library&lt;/a&gt;&lt;/li&gt;
 &lt;li&gt;Data&lt;/li&gt;
&lt;/ol&gt;
				</code>
			</pre>
		</div>
		}

		<ol class="breadcrumb material-breadcrumb material-breadcrumb_warning">
			<li class="material-breadcrumb__item"><a href="#" class="material-breadcrumb__link">Home</a></li>
			<li class="material-breadcrumb__item"><a href="#" class="material-breadcrumb__link">Library</a></li>
			<li class="material-breadcrumb__item"><span class="material-breadcrumb__active-element">Data</span></li>
		</ol>
		@@if (show_code === "true") {
		<div class="highlight example_code">
			<pre>
				<code class="language-html" data-lang="html">
&lt;ol class="breadcrumb material-breadcrumb material-breadcrumb_warning"&gt;
 &lt;li&gt;&lt;a href="#" class="material-breadcrumb__link"&gt;Home&lt;/a&gt;&lt;/li&gt;
 &lt;li&gt;&lt;a href="#" class="material-breadcrumb__link"&gt;Library&lt;/a&gt;&lt;/li&gt;
 &lt;li&gt;Data&lt;/li&gt;
&lt;/ol&gt;
				</code>
			</pre>
		</div>
		}		