	@@if (show_code === "false") {<div class="main-container__column">}
		<div class="btn-group material-btn_group material-btn-group_lg">
			<button type="button" class="btn material-btn">Left</button>
			<button type="button" class="btn material-btn">Middle</button>
			<button type="button" class="btn material-btn">Right</button>
		</div>
	@@if (show_code === "false") {</div>}
	@@if (show_code === "false") {<div class="main-container__column">}	
		<div class="btn-group material-btn_group">
			<button type="button" class="btn material-btn material-btn_primary">Left</button>
			<button type="button" class="btn material-btn material-btn_primary">Middle</button>
			<button type="button" class="btn material-btn material-btn_primary">Right</button>
		</div>
	@@if (show_code === "false") {</div>}
	@@if (show_code === "false") {<div class="main-container__column">}	
		<div class="btn-group material-btn_group material-btn-group_sm">
			<button type="button" class="btn material-btn material-btn_warning">Left</button>
			<button type="button" class="btn material-btn material-btn_warning">Middle</button>
			<button type="button" class="btn material-btn material-btn_warning">Right</button>
		</div>
	@@if (show_code === "false") {</div>}
	@@if (show_code === "false") {<div class="main-container__column">}		
		<div class="btn-group material-btn_group material-btn-group_xs">
			<button type="button" class="btn material-btn material-btn_success">Left</button>
			<button type="button" class="btn material-btn material-btn_success">Middle</button>
			<button type="button" class="btn material-btn material-btn_success">Right</button>
		</div>
	@@if (show_code === "false") {</div>}
	@@if (show_code === "true") {
	<div class="highlight example_code">
		<pre>
			<code class="language-html" data-lang="html">
&lt;div class="bs-example" data-example-id="button-group-sizing"&gt;
 &lt;div class="btn-group material-btn_group material-btn-group_lg"&gt;
  &lt;button type="button" class="btn material-btn"&gt;Left&lt;/button&gt;
  &lt;button type="button" class="btn material-btn"&gt;Middle&lt;/button&gt;
  &lt;button type="button" class="btn material-btn"&gt;Right&lt;/button&gt;
 &lt;/div&gt;
 &lt;div class="btn-group material-btn_group"&gt;
  &lt;button type="button" class="btn material-btn material-btn_primary"&gt;Left&lt;/button&gt;
  &lt;button type="button" class="btn material-btn material-btn_primary"&gt;Middle&lt;/button&gt;
  &lt;button type="button" class="btn material-btn material-btn_primary"&gt;Right&lt;/button&gt;
 &lt;/div&gt;
 &lt;div class="btn-group material-btn material-btn_group_sm_group"&gt;
  &lt;button type="button" class="btn material-btn material-btn_warning"&gt;Left&lt;/button&gt;
  &lt;button type="button" class="btn material-btn material-btn_warning"&gt;Middle&lt;/button&gt;
  &lt;button type="button" class="btn material-btn material-btn_warning"&gt;Right&lt;/button&gt;
 &lt;/div&gt;
 &lt;div class="btn-group material-btn_group material-btn_group_xs"&gt;
  &lt;button type="button" class="btn material-btn"&gt;Left&lt;/button&gt;
  &lt;button type="button" class="btn material-btn"&gt;Middle&lt;/button&gt;
  &lt;button type="button" class="btn material-btn"&gt;Right&lt;/button&gt;
 &lt;/div&gt;
&lt;/div&gt;
			</code>
		</pre>
	</div>
	}