<div class="main-container__column">	
	<div class="btn-group material-btn-group">
		<button class="dropdown-toggle material-btn material-dropdown-btn" data-toggle="dropdown">Default<span class="caret material-btn__caret"></span></button>
		<ul class="dropdown-menu material-dropdown-menu" role="menu">
			<li><a href="#" class="material-dropdown-menu__link">Action</a></li>
			<li><a href="#" class="material-dropdown-menu__link">Another action</a></li>
			<li><a href="#" class="material-dropdown-menu__link">Something else here</a></li>
			<li class="divider material-dropdown__divider"></li>
			<li><a href="#" class="material-dropdown-menu__link">Separated link</a></li>
		</ul>
	</div>
</div>
@@if (show_code === "true") {
	<div class="highlight example_code">
		<pre>
			<code class="language-html" data-lang="html">
&lt;div class="btn-group material-btn-group"&gt;
 &lt;button class="dropdown-toggle material-dropdown-btn material-btn" data-toggle="dropdown"&gt;Default&lt;span class="caret material-btn__caret"&gt;&lt;/span&gt;&lt;/button&gt;
 &lt;ul class="dropdown-menu material-dropdown-menu" role="menu"&gt;
  &lt;li&gt;&lt;a href="#" class="material-dropdown-menu__link"&gt;Action&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href="#" class="material-dropdown-menu__link"&gt;Another action&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href="#" class="material-dropdown-menu__link"&gt;Something else here&lt;/a&gt;&lt;/li&gt;
  &lt;li class="divider material-dropdown__divider"&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href="#" class="material-dropdown-menu__link"&gt;Separated link&lt;/a&gt;&lt;/li&gt;
 &lt;/ul&gt;
&lt;/div&gt;
			</code>
		</pre>
	</div>		
}
<div class="main-container__column">
	<div class="btn-group material-btn-group">
		<button class="dropdown-toggle material-dropdown-btn material-btn material-btn_primary" data-toggle="dropdown">Primary<span class="caret material-btn__caret"></span></button>
		<ul class="dropdown-menu material-dropdown-menu material-dropdown-menu_primary" role="menu">
			<li><a href="#" class="material-dropdown-menu__link">Action</a></li>
			<li><a href="#" class="material-dropdown-menu__link">Another action</a></li>
			<li><a href="#" class="material-dropdown-menu__link">Something else here</a></li>
			<li class="divider material-dropdown__divider"></li>
			<li><a href="#" class="material-dropdown-menu__link">Separated link</a></li>
		</ul>
	</div>
</div>
@@if (show_code === "true") {
	<div class="highlight example_code">
		<pre>
			<code class="language-html" data-lang="html">
&lt;div class="btn-group material-btn-group"&gt;
 &lt;button class="dropdown-toggle material-dropdown-btn material-btn material-btn_primary" data-toggle="dropdown"&gt;Primary&lt;span class="caret material-btn__caret"&gt;&lt;/span&gt;&lt;/button&gt;
 &lt;ul class="dropdown-menu material-dropdown-menu material-dropdown-menu_primary" role="menu"&gt;
  &lt;li&gt;&lt;a href="#" class="material-dropdown-menu__link"&gt;Action&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href="#" class="material-dropdown-menu__link"&gt;Another action&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href="#" class="material-dropdown-menu__link"&gt;Something else here&lt;/a&gt;&lt;/li&gt;
  &lt;li class="divider material-dropdown__divider"&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href="#" class="material-dropdown-menu__link"&gt;Separated link&lt;/a&gt;&lt;/li&gt;
 &lt;/ul&gt;
&lt;/div&gt;
			</code>
		</pre>
	</div>	
}
<div class="main-container__column">	
	<div class="btn-group material-btn-group">
		<button class="dropdown-toggle material-dropdown-btn material-btn material-btn_success" data-toggle="dropdown">Success<span class="caret material-btn__caret"></span></button>
		<ul class="dropdown-menu material-dropdown-menu material-dropdown-menu_success" role="menu">
			<li><a href="#" class="material-dropdown-menu__link">Action</a></li>
			<li><a href="#" class="material-dropdown-menu__link">Another action</a></li>
			<li><a href="#" class="material-dropdown-menu__link">Something else here</a></li>
			<li class="divider material-dropdown__divider"></li>
			<li><a href="#" class="material-dropdown-menu__link">Separated link</a></li>
		</ul>
	</div>
</div>
@@if (show_code === "true") {
	<div class="highlight example_code">
		<pre>
			<code class="language-html" data-lang="html">
&lt;div class="btn-group material-btn-group"&gt;
 &lt;button class="dropdown-toggle material-dropdown-btn material-btn material-btn_success" data-toggle="dropdown"&gt;Success&lt;span class="caret material-btn__caret"&gt;&lt;/span&gt;&lt;/button&gt;
 &lt;ul class="dropdown-menu material-dropdown-menu material-dropdown-menu_success" role="menu"&gt;
  &lt;li&gt;&lt;a href="#" class="material-dropdown-menu__link"&gt;Action&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href="#" class="material-dropdown-menu__link"&gt;Another action&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href="#" class="material-dropdown-menu__link"&gt;Something else here&lt;/a&gt;&lt;/li&gt;
  &lt;li class="divider material-dropdown__divider"&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href="#" class="material-dropdown-menu__link"&gt;Separated link&lt;/a&gt;&lt;/li&gt;
 &lt;/ul&gt;
&lt;/div&gt;
			</code>
		</pre>
	</div>	
}
<div class="main-container__column">
	<div class="btn-group material-btn-group">
		<button class="dropdown-toggle material-dropdown-btn material-btn material-btn_info" data-toggle="dropdown">Info<span class="caret material-btn__caret"></span></button>
		<ul class="dropdown-menu material-dropdown-menu material-dropdown-menu_info" role="menu">
			<li><a href="#" class="material-dropdown-menu__link">Action</a></li>
			<li><a href="#" class="material-dropdown-menu__link">Another action</a></li>
			<li><a href="#" class="material-dropdown-menu__link">Something else here</a></li>
			<li class="divider material-dropdown__divider"></li>
			<li><a href="#" class="material-dropdown-menu__link">Separated link</a></li>
		</ul>
	</div>
</div>
@@if (show_code === "true") {
	<div class="highlight example_code">
		<pre>
			<code class="language-html" data-lang="html">
&lt;div class="btn-group material-btn-group"&gt;
 &lt;button class="dropdown-toggle material-dropdown-btn material-btn material-btn_info" data-toggle="dropdown"&gt;Info&lt;span class="caret material-btn__caret"&gt;&lt;/span&gt;&lt;/button&gt;
 &lt;ul class="dropdown-menu material-dropdown-menu material-dropdown-menu_info" role="menu"&gt;
  &lt;li&gt;&lt;a href="#" class="material-dropdown-menu__link"&gt;Action&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href="#" class="material-dropdown-menu__link"&gt;Another action&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href="#" class="material-dropdown-menu__link"&gt;Something else here&lt;/a&gt;&lt;/li&gt;
  &lt;li class="divider material-dropdown__divider"&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href="#" class="material-dropdown-menu__link"&gt;Separated link&lt;/a&gt;&lt;/li&gt;
 &lt;/ul&gt;
&lt;/div&gt;
			</code>
		</pre>
	</div>
}
<div class="main-container__column">
	<div class="btn-group material-btn-group">
		<button class="dropdown-toggle material-dropdown-btn material-btn material-btn_warning" data-toggle="dropdown">Warning<span class="caret material-btn__caret"></span></button>
		<ul class="dropdown-menu material-dropdown-menu material-dropdown-menu_warning" role="menu">
			<li><a href="#" class="material-dropdown-menu__link">Action</a></li>
			<li><a href="#" class="material-dropdown-menu__link">Another action</a></li>
			<li><a href="#" class="material-dropdown-menu__link">Something else here</a></li>
			<li class="divider material-dropdown__divider"></li>
			<li><a href="#" class="material-dropdown-menu__link">Separated link</a></li>
		</ul>
	</div>
</div>
@@if (show_code === "true") {
	<div class="highlight example_code">
		<pre>
			<code class="language-html" data-lang="html">
&lt;div class="btn-group material-btn-group"&gt;
 &lt;button class="dropdown-toggle material-dropdown-btn material-btn material-btn_warning" data-toggle="dropdown"&gt;Warning&lt;span class="caret material-btn__caret"&gt;&lt;/span&gt;&lt;/button&gt;
 &lt;ul class="dropdown-menu material-dropdown-menu material-dropdown-menu_warning" role="menu"&gt;
  &lt;li&gt;&lt;a href="#" class="material-dropdown-menu__link"&gt;Action&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href="#" class="material-dropdown-menu__link"&gt;Another action&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href="#" class="material-dropdown-menu__link"&gt;Something else here&lt;/a&gt;&lt;/li&gt;
  &lt;li class="divider material-dropdown__divider"&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href="#" class="material-dropdown-menu__link"&gt;Separated link&lt;/a&gt;&lt;/li&gt;
 &lt;/ul&gt;
&lt;/div&gt;
			</code>
		</pre>
	</div>
}
<div class="main-container__column">
	<div class="btn-group material-btn-group">
		<button class="dropdown-toggle material-dropdown-btn material-btn material-btn_danger" data-toggle="dropdown">Danger<span class="caret material-btn__caret"></span></button>
		<ul class="dropdown-menu material-dropdown-menu material-dropdown-menu_danger" role="menu">
			<li><a href="#" class="material-dropdown-menu__link">Action</a></li>
			<li><a href="#" class="material-dropdown-menu__link">Another action</a></li>
			<li><a href="#" class="material-dropdown-menu__link">Something else here</a></li>
			<li class="divider material-dropdown__divider"></li>
			<li><a href="#" class="material-dropdown-menu__link">Separated link</a></li>
		</ul>
	</div>
</div>
@@if (show_code === "true") {
	<div class="highlight example_code">
		<pre>
			<code class="language-html" data-lang="html">
&lt;div class="btn-group material-btn-group"&gt;
 &lt;button class="dropdown-toggle material-dropdown-btn material-btn material-btn_danger" data-toggle="dropdown"&gt;Danger&lt;span class="caret material-btn__caret"&gt;&lt;/span&gt;&lt;/button&gt;
 &lt;ul class="dropdown-menu material-dropdown-menu material-dropdown-menu_danger" role="menu"&gt;
  &lt;li&gt;&lt;a href="#" class="material-dropdown-menu__link"&gt;Action&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href="#" class="material-dropdown-menu__link"&gt;Another action&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href="#" class="material-dropdown-menu__link"&gt;Something else here&lt;/a&gt;&lt;/li&gt;
  &lt;li class="divider material-dropdown__divider"&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href="#" class="material-dropdown-menu__link"&gt;Separated link&lt;/a&gt;&lt;/li&gt;
 &lt;/ul&gt;
&lt;/div&gt;
			</code>
		</pre>
	</div>
}