	<div class="btn-group @@if (show_code === "false") {main-container__column}" role="group" aria-label="Basic example">
		<button type="button" class="btn material-btn">Left</button>
		<button type="button" class="btn material-btn">Middle</button>
		<button type="button" class="btn material-btn">Right</button>
	</div>
	@@if (show_code === "true") {
	<div class="highlight example_code">
		<pre>
			<code class="language-html" data-lang="html">
&lt;div class="btn-group" role="group" aria-label="Basic example"&gt;
 &lt;button type="button" class="btn material-btn"&gt;Left&lt;/button&gt;
 &lt;button type="button" class="btn material-btn"&gt;Middle&lt;/button&gt;
 &lt;button type="button" class="btn material-btn"&gt;Right&lt;/button&gt;
&lt;/div&gt;
			</code>
		</pre>
	</div>
	}
	<div class="btn-group @@if (show_code === "false") {main-container__column}" role="group" aria-label="Basic example">
		<button type="button" class="btn material-btn material-btn_primary">Left</button>
		<button type="button" class="btn material-btn material-btn_primary">Middle</button>
		<button type="button" class="btn material-btn material-btn_primary">Right</button>
	</div>
	@@if (show_code === "true") {
	<div class="highlight example_code">
		<pre>
			<code class="language-html" data-lang="html">
&lt;div class="btn-group" role="group" aria-label="Basic example"&gt;
 &lt;button type="button" class="btn material-btn material-btn_primary"&gt;Left&lt;/button&gt;
 &lt;button type="button" class="btn material-btn material-btn_primary"&gt;Middle&lt;/button&gt;
 &lt;button type="button" class="btn material-btn material-btn_primary"&gt;Right&lt;/button&gt;
&lt;/div&gt;
			</code>
		</pre>
	</div>
	}
	<div class="btn-group @@if (show_code === "false") {main-container__column}" role="group" aria-label="Basic example">
		<button type="button" class="btn material-btn material-btn_success">Left</button>
		<button type="button" class="btn material-btn material-btn_success">Middle</button>
		<button type="button" class="btn material-btn material-btn_success">Right</button>
	</div>
	@@if (show_code === "true") {
	<div class="highlight example_code">
		<pre>
			<code class="language-html" data-lang="html">
&lt;div class="btn-group" role="group" aria-label="Basic example"&gt;
 &lt;button type="button" class="btn material-btn material-btn_success"&gt;Left&lt;/button&gt;
 &lt;button type="button" class="btn material-btn material-btn_success"&gt;Middle&lt;/button&gt;
 &lt;button type="button" class="btn material-btn material-btn_success"&gt;Right&lt;/button&gt;
&lt;/div&gt;
			</code>
		</pre>
	</div>	
	}
	<div class="btn-group @@if (show_code === "false") {main-container__column}" role="group" aria-label="Basic example">
		<button type="button" class="btn material-btn material-btn_info">Left</button>
		<button type="button" class="btn material-btn material-btn_info">Middle</button>
		<button type="button" class="btn material-btn material-btn_info">Right</button>
	</div>
	@@if (show_code === "true") {
	<div class="highlight example_code">
		<pre>
			<code class="language-html" data-lang="html">
&lt;div class="btn-group" role="group" aria-label="Basic example"&gt;
 &lt;button type="button" class="btn material-btn material-btn_info"&gt;Left&lt;/button&gt;
 &lt;button type="button" class="btn material-btn material-btn_info"&gt;Middle&lt;/button&gt;
 &lt;button type="button" class="btn material-btn material-btn_info"&gt;Right&lt;/button&gt;
&lt;/div&gt;
			</code>
		</pre>
	</div>	
	}
	<div class="btn-group @@if (show_code === "false") {main-container__column}" role="group" aria-label="Basic example">
		<button type="button" class="btn material-btn material-btn_warning">Left</button>
		<button type="button" class="btn material-btn material-btn_warning">Middle</button>
		<button type="button" class="btn material-btn material-btn_warning">Right</button>
	</div>
	@@if (show_code === "true") {
	<div class="highlight example_code">
		<pre>
			<code class="language-html" data-lang="html">
&lt;div class="btn-group" role="group" aria-label="Basic example"&gt;
 &lt;button type="button" class="btn material-btn material-btn_warning"&gt;Left&lt;/button&gt;
 &lt;button type="button" class="btn material-btn material-btn_warning"&gt;Middle&lt;/button&gt;
 &lt;button type="button" class="btn material-btn material-btn_warning"&gt;Right&lt;/button&gt;
&lt;/div&gt;
			</code>
		</pre>
	</div>	
	}
	<div class="btn-group @@if (show_code === "false") {main-container__column}" role="group" aria-label="Basic example">
		<button type="button" class="btn material-btn material-btn_danger">Left</button>
		<button type="button" class="btn material-btn material-btn_danger">Middle</button>
		<button type="button" class="btn material-btn material-btn_danger">Right</button>
	</div>
	@@if (show_code === "true") {
	<div class="highlight example_code">
		<pre>
			<code class="language-html" data-lang="html">
&lt;div class="btn-group" role="group" aria-label="Basic example"&gt;
 &lt;button type="button" class="btn material-btn material-btn_danger"&gt;Left&lt;/button&gt;
 &lt;button type="button" class="btn material-btn material-btn_danger"&gt;Middle&lt;/button&gt;
 &lt;button type="button" class="btn material-btn material-btn_danger"&gt;Right&lt;/button&gt;
&lt;/div&gt;
			</code>
		</pre>
	</div>
	}