	@@if (show_code === "false") {<div class="main-container__column">}
		<button class="btn material-btn material-btn_lg">Large button</button>
	@@if (show_code === "false") {</div>}
	@@if (show_code === "false") {<div class="main-container__column">}
		<button class="btn material-btn material-btn_primary">Middle button</button>
	@@if (show_code === "false") {</div>}
	@@if (show_code === "false") {<div class="main-container__column">}
		<button class="btn material-btn material-btn_sm material-btn_success">Small button</button>
	@@if (show_code === "false") {</div>}
	@@if (show_code === "false") {<div class="main-container__column">	}
		<button class="btn material-btn material-btn_xs material-btn_info">Extra small button</button>
	@@if (show_code === "false") {</div>}
	@@if (show_code === "true") {
	<div class="highlight example_code">
		<pre>
			<code class="language-html" data-lang="html">
&lt;button class="btn material-btn material-btn_lg"&gt;Large button&lt;/button&gt;
&lt;button class="btn material-btn material-btn_primary"&gt;Middle button&lt;/button&gt;
&lt;button class="btn material-btn material-btn_sm material-btn_success"&gt;Small button&lt;/button&gt;
&lt;button class="btn material-btn material-btn_xs material-btn_info"&gt;Extra small button&lt;/button&gt;
			</code>
		</pre>
	</div>
	}