
<span class="label label-primary material-label material-label_primary material-label_lg @@if (show_code === "false") {main-container__column}">Primary</span>
<span class="label label-success material-label material-label_success @@if (show_code === "false") {main-container__column}">Success</span>
<span class="label label-warning material-label material-label_warning material-label_sm @@if (show_code === "false") {main-container__column}">Warning</span>
<span class="label label-danger material-label material-label_danger material-label_xs @@if (show_code === "false") {main-container__column}">Danger</span>	

		@@if (show_code === "true") {
		<div class="highlight example_code">
			<pre>
				<code class="language-html" data-lang="html">
&lt;span class="label label-primary material-label material-label_primary material-label_lg"&gt;Primary&lt;/span&gt;
&lt;span class="label label-success material-label material-label_success"&gt;Success&lt;/span&gt;
&lt;span class="label label-warning material-label material-label_warning material-label_sm"&gt;Warning&lt;/span&gt;
&lt;span class="label label-danger material-label material-label_danger material-label_xs"&gt;Danger&lt;/span&gt;	
				</code>
			</pre>
		</div>
		}				
		