<ul class="list-group material-list-group">
	<li class="list-group-item material-list-group__item">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, molestias exercitationem iusto. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, molestias exercitationem iusto. 
		<span class="badge material-badge material-badge_no-bg material-badge material-badge_no-bg_warning material-badge material-badge_no-bg_sm material-list-group__badge">14</span>
	</li>
	<li class="list-group-item material-list-group__item material-list-group__item_disabled">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, molestias exercitationem iusto. 
		<span class="badge material-badge material-badge_no-bg material-badge material-badge_no-bg_warning material-badge material-badge_no-bg_sm material-list-group__badge">5</span>
	</li>
</ul>
@@if (show_code === "true") {
		<div class="highlight example_code">
			<pre>
				<code class="language-html" data-lang="html">
&lt;ul class="list-group material-list-group"&gt;
 &lt;li class="list-group-item material-list-group__item"&gt;
  &lt;span class="badge material-badge material-badge_no-bg material-badge material-badge_no-bg_warning material-badge material-badge_no-bg_sm material-list-group__badge"&gt;14&lt;/span&gt;
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, molestias exercitationem iusto. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, molestias exercitationem iusto. 
 &lt;/li&gt;
 &lt;li class="list-group-item material-list-group__item material-list-group__item_disabled"&gt;
  &lt;span class="badge material-badge material-badge_no-bg material-badge material-badge_no-bg_warning material-badge material-badge_no-bg_sm material-list-group__badge"&gt;5&lt;/span&gt;
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, molestias exercitationem iusto. 
 &lt;/li&gt;
&lt;/ul&gt;
				</code>
			</pre>
		</div>
}		
<ul class="list-group material-list-group material-list-group_primary">
	<li class="list-group-item material-list-group__item">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, molestias exercitationem iusto. 
		<span class="badge material-badge material-badge_primary material-badge_no-bg material-badge material-badge_no-bg_sm material-list-group__badge">14</span>
	</li>
	<li class="list-group-item material-list-group__item material-list-group__item_disabled">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, molestias exercitationem iusto. 
		<span class="badge material-badge material-badge_primary material-badge_no-bg material-badge material-badge_no-bg_sm material-list-group__badge">5</span>
	</li>
</ul>
@@if (show_code === "true") {
		<div class="highlight example_code">
			<pre>
				<code class="language-html" data-lang="html">
&lt;ul class="list-group material-list-group material-list-group_primary"&gt;
 &lt;li class="list-group-item material-list-group__item"&gt;
  &lt;span class="badge material-badge material-badge_primary material-badge_no-bg material-badge material-badge_no-bg_sm material-list-group__badge"&gt;14&lt;/span&gt;
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, molestias exercitationem iusto. 
 &lt;/li&gt;
 &lt;li class="list-group-item material-list-group__item material-list-group__item_disabled"&gt;
  &lt;span class="badge material-badge material-badge_primary material-badge_no-bg material-badge material-badge_no-bg_sm material-list-group__badge"&gt;5&lt;/span&gt;
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, molestias exercitationem iusto. 
 &lt;/li&gt;
&lt;/ul&gt;
				</code>
			</pre>
		</div>
}		
<ul class="list-group material-list-group material-list-group_success">
	<li class="list-group-item material-list-group__item">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, molestias exercitationem iusto. 
		<span class="badge material-badge material-badge_primary material-badge_no-bg material-badge material-badge_no-bg_sm material-list-group__badge">14</span>
	</li>
	<li class="list-group-item material-list-group__item material-list-group__item_disabled">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, molestias exercitationem iusto. 
		<span class="badge material-badge material-badge_primary material-badge_no-bg material-badge material-badge_no-bg_sm material-list-group__badge">5</span>
	</li>
</ul>	
@@if (show_code === "true") {
		<div class="highlight example_code">
			<pre>
				<code class="language-html" data-lang="html">
&lt;ul class="list-group material-list-group material-list-group_success"&gt;
 &lt;li class="list-group-item material-list-group__item"&gt;
  &lt;span class="badge material-badge material-badge_primary material-badge_no-bg material-badge material-badge_no-bg_sm material-list-group__badge"&gt;14&lt;/span&gt;
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, molestias exercitationem iusto. 
 &lt;/li&gt;
 &lt;li class="list-group-item material-list-group__item material-list-group__item_disabled"&gt;
  &lt;span class="badge material-badge material-badge_primary material-badge_no-bg material-badge material-badge_no-bg_sm material-list-group__badge"&gt;5&lt;/span&gt;
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, molestias exercitationem iusto. 
 &lt;/li&gt;
&lt;/ul&gt;
				</code>
			</pre>
		</div>
}	
<ul class="list-group material-list-group material-list-group_info">
	<li class="list-group-item material-list-group__item">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, molestias exercitationem iusto. 
		<span class="badge material-badge material-badge_primary material-badge_no-bg material-badge material-badge_no-bg_sm material-list-group__badge">14</span>
	</li>
	<li class="list-group-item material-list-group__item material-list-group__item_disabled">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, molestias exercitationem iusto. 
		<span class="badge material-badge material-badge_primary material-badge_no-bg material-badge material-badge_no-bg_sm material-list-group__badge">5</span>
	</li>
</ul>
@@if (show_code === "true") {
		<div class="highlight example_code">
			<pre>
				<code class="language-html" data-lang="html">
&lt;ul class="list-group material-list-group material-list-group_info"&gt;
 &lt;li class="list-group-item material-list-group__item"&gt;
  &lt;span class="badge material-badge material-badge_primary material-badge_no-bg material-badge material-badge_no-bg_sm material-list-group__badge"&gt;14&lt;/span&gt;
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, molestias exercitationem iusto. 
 &lt;/li&gt;
 &lt;li class="list-group-item material-list-group__item material-list-group__item_disabled"&gt;
  &lt;span class="badge material-badge material-badge_primary material-badge_no-bg material-badge material-badge_no-bg_sm material-list-group__badge"&gt;5&lt;/span&gt;
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, molestias exercitationem iusto. 
 &lt;/li&gt;
&lt;/ul&gt;
				</code>
			</pre>
		</div>
}	
<ul class="list-group material-list-group material-list-group_danger">
	<li class="list-group-item material-list-group__item">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, molestias exercitationem iusto. 
		<span class="badge material-badge material-badge_primary material-badge_no-bg material-badge material-badge_no-bg_sm material-list-group__badge">14</span>
	</li>
	<li class="list-group-item material-list-group__item material-list-group__item_disabled">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, molestias exercitationem iusto. 
		<span class="badge material-badge material-badge_primary material-badge_no-bg material-badge material-badge_no-bg_sm material-list-group__badge">5</span>
	</li>
</ul>
@@if (show_code === "true") {
		<div class="highlight example_code">
			<pre>
				<code class="language-html" data-lang="html">
&lt;ul class="list-group material-list-group material-list-group_danger"&gt;
 &lt;li class="list-group-item material-list-group__item"&gt;
  &lt;span class="badge material-badge material-badge_primary material-badge_no-bg material-badge material-badge_no-bg_sm material-list-group__badge"&gt;14&lt;/span&gt;
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, molestias exercitationem iusto. 
 &lt;/li&gt;
 &lt;li class="list-group-item material-list-group__item material-list-group__item_disabled"&gt;
  &lt;span class="badge material-badge material-badge_primary material-badge_no-bg material-badge material-badge_no-bg_sm material-list-group__badge"&gt;5&lt;/span&gt;
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, molestias exercitationem iusto. 
 &lt;/li&gt;
&lt;/ul&gt;
				</code>
			</pre>
		</div>
}
<ul class="list-group material-list-group material-list-group_warning">
	<li class="list-group-item material-list-group__item">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, molestias exercitationem iusto. 
		<span class="badge material-badge material-badge_primary material-badge_no-bg material-badge material-badge_no-bg_sm material-list-group__badge">14</span>
	</li>
	<li class="list-group-item material-list-group__item material-list-group__item_disabled">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, molestias exercitationem iusto. 
		<span class="badge material-badge material-badge_primary material-badge_no-bg material-badge material-badge_no-bg_sm material-list-group__badge">5</span>
	</li>
</ul>
@@if (show_code === "true") {
		<div class="highlight example_code">
			<pre>
				<code class="language-html" data-lang="html">
&lt;ul class="list-group material-list-group material-list-group_warning"&gt;
 &lt;li class="list-group-item material-list-group__item"&gt;
  &lt;span class="badge material-badge material-badge_primary material-badge_no-bg material-badge material-badge_no-bg_sm material-list-group__badge"&gt;14&lt;/span&gt;
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, molestias exercitationem iusto. 
 &lt;/li&gt;
 &lt;li class="list-group-item material-list-group__item material-list-group__item_disabled"&gt;
  &lt;span class="badge material-badge material-badge_primary material-badge_no-bg material-badge material-badge_no-bg_sm material-list-group__badge"&gt;5&lt;/span&gt;
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, molestias exercitationem iusto. 
 &lt;/li&gt;
&lt;/ul&gt;
				</code>
			</pre>
		</div>
}