<div class="media material-media">
	<div class="media-left">
		<a href="#0"><img class="media-object material-media__object"  alt="avatar" src="http://stas-melnikov.ru/cliparts/stas.jpg"/></a>
	</div>
	<div class="media-body">
		<h4 class="media-heading material-media__title">Title media</h4>
		<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
	</div>
</div>
@@if (show_code === "true") {
<div class="highlight example_code">
	<pre>
		<code class="language-html" data-lang="html">
&lt;div class="media material-media"&gt;
 &lt;div class="media-left"&gt;
  &lt;a href="#0"&gt;&lt;img class="media-object material-media__object"  alt="avatar" src="http://stas-melnikov.ru/cliparts/stas.jpg"/&gt;&lt;/a&gt;
 &lt;/div&gt;
 &lt;div class="media-body"&gt;
  &lt;h4 class="media-heading material-media__title"&gt;Title media&lt;/h4&gt;
  &lt;p&gt;Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.&lt;/p&gt;
 &lt;/div&gt;
&lt;/div&gt;
		</code>
	</pre>
</div>
}
<div class="media material-media">
	<div class="media-left material-media__column material-media__column_vertical-middle">
		<a href="#0"><img class="media-object material-media__object material-media__object_lg"  alt="avatar" src="http://stas-melnikov.ru/cliparts/stas.jpg"/></a>
	</div>
	<div class="media-body material-media__column material-media__column_vertical-middle">
		<h4 class="media-heading material-media__title">Title media</h4>
		<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
	</div>
</div>
@@if (show_code === "true") {
<div class="highlight example_code">
	<pre>
		<code class="language-html" data-lang="html">
&lt;div class="media material-media"&gt;
 &lt;div class="media-left material-media__column material-media__column_vertical-middle"&gt;
  &lt;a href="#0"&gt;&lt;img class="media-object material-media__object material-media__object_lg"  alt="avatar" src="http://stas-melnikov.ru/cliparts/stas.jpg"/&gt;&lt;/a&gt;
 &lt;/div&gt;
 &lt;div class="media-body material-media__column material-media__column_vertical-middle"&gt;
  &lt;h4 class="media-heading material-media__title"&gt;Title media&lt;/h4&gt;
  &lt;p&gt;Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.&lt;/p&gt;
 &lt;/div&gt;
&lt;/div&gt;
		</code>
	</pre>
</div>
}
<div class="media material-media">
	<div class="media-left">
		<a href="#0"><img class="media-object material-media__object material-media__object_sm"  alt="avatar" src="http://stas-melnikov.ru/cliparts/stas.jpg"/></a>
	</div>
	<div class="media-body">
		<h4 class="media-heading material-media__title">Title media</h4>
		<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
	</div>
</div>
@@if (show_code === "true") {
<div class="highlight example_code">
	<pre>
		<code class="language-html" data-lang="html">
&lt;div class="media material-media"&gt;
 &lt;div class="media-left"&gt;
  &lt;a href="#0"&gt;&lt;img class="media-object material-media__object material-media__object_sm"  alt="avatar" src="http://stas-melnikov.ru/cliparts/stas.jpg"/&gt;&lt;/a&gt;
 &lt;/div&gt;
 &lt;div class="media-body"&gt;
  &lt;h4 class="media-heading material-media__title"&gt;Title media&lt;/h4&gt;
  &lt;p&gt;Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.&lt;/p&gt;
 &lt;/div&gt;
&lt;/div&gt;
		</code>
	</pre>
</div>
}