<nav class="navbar material-navbar">
	<div class="container-fluid">
		<div class="navbar-header material-navbar__header">
			<button class="navbar-toggle materail-navbar__toogle collapsed" data-toggle="collapse" data-target="#navbar-menu">
				<span class="icon-bar materail-navbar__icon-bar"></span>
				<span class="icon-bar materail-navbar__icon-bar"></span>
				<span class="icon-bar materail-navbar__icon-bar"></span>
			</button>
			<a class="navbar-brand material-navbar__brand" href="#0">Brand</a>
		</div>
		<div class="collapse navbar-collapse materil-navbar__collapse" id="navbar-menu">
			<ul class="nav navbar-nav navbar-right material-navbar__nav">
				<li><a href="#0" class="material-navbar__link">Link</a></li>
				<li><a href="#0" class="material-navbar__link">Link</a></li>
				<li><a href="#0" class="material-navbar__link">Link</a></li>
			</ul>		
		</div>
	</div>
</nav>
		@@if (show_code === "true") {
	<div class="highlight example_code">	
		<pre>
			<code class="language-html" data-lang="html">
&lt;nav class="navbar material-navbar"&gt;
 &lt;div class="container-fluid"&gt;
  &lt;div class="navbar-header material-navbar__header"&gt;
   &lt;button class="navbar-toggle materail-navbar__toogle collapsed" data-toggle="collapse" data-target="#navbar-menu"&gt;
    &lt;span class="icon-bar materail-navbar__icon-bar"&gt;&lt;/span&gt;
    &lt;span class="icon-bar materail-navbar__icon-bar"&gt;&lt;/span&gt;
    &lt;span class="icon-bar materail-navbar__icon-bar"&gt;&lt;/span&gt;
   &lt;/button&gt;
   &lt;a class="navbar-brand material-navbar__brand" href="#0"&gt;Brand&lt;/a&gt;
  &lt;/div&gt;
  &lt;div class="collapse navbar-collapse materil-navbar__collapse" id="navbar-menu"&gt;
   &lt;ul class="nav navbar-nav navbar-right material-navbar__nav"&gt;
    &lt;li&gt;&lt;a href="#0" class="material-navbar__link"&gt;Link&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="#0" class="material-navbar__link"&gt;Link&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="#0" class="material-navbar__link"&gt;Link&lt;/a&gt;&lt;/li&gt;
   &lt;/ul&gt;		
  &lt;/div&gt;
 &lt;/div&gt;
&lt;/nav&gt;
			</code>
		</pre>
	</div>	
		}
<nav class="navbar material-navbar material-navbar_primary">
	<div class="container-fluid">
		<div class="navbar-header material-navbar__header">
			<button class="navbar-toggle materail-navbar__toogle collapsed" data-toggle="collapse" data-target="#navbar-navbar_primary">
				<span class="icon-bar materail-navbar__icon-bar"></span>
				<span class="icon-bar materail-navbar__icon-bar"></span>
				<span class="icon-bar materail-navbar__icon-bar"></span>
			</button>
			<a class="navbar-brand material-navbar__brand" href="#0">Brand</a>
		</div>
		<div class="collapse navbar-collapse materil-navbar__collapse" id="navbar-navbar_primary">
			<ul class="nav navbar-nav navbar-right material-navbar__nav">
				<li><a href="#0" class="material-navbar__link">Link</a></li>
				<li><a href="#0" class="material-navbar__link">Link</a></li>
				<li><a href="#0" class="material-navbar__link">Link</a></li>
			</ul>		
		</div>
	</div>
</nav>
		@@if (show_code === "true") {
	<div class="highlight example_code">	
		<pre>
			<code class="language-html" data-lang="html">
&lt;nav class="navbar material-navbar material-navbar_primary"&gt;
 &lt;div class="container-fluid"&gt;
  &lt;div class="navbar-header material-navbar__header"&gt;
   &lt;button class="navbar-toggle materail-navbar__toogle collapsed" data-toggle="collapse" data-target="#navbar-navbar_primary"&gt;
    &lt;span class="icon-bar materail-navbar__icon-bar"&gt;&lt;/span&gt;
    &lt;span class="icon-bar materail-navbar__icon-bar"&gt;&lt;/span&gt;
    &lt;span class="icon-bar materail-navbar__icon-bar"&gt;&lt;/span&gt;
   &lt;/button&gt;
   &lt;a class="navbar-brand material-navbar__brand" href="#0"&gt;Brand&lt;/a&gt;
  &lt;/div&gt;
  &lt;div class="collapse navbar-collapse materil-navbar__collapse" id="navbar-navbar_primary"&gt;
   &lt;ul class="nav navbar-nav navbar-right material-navbar__nav"&gt;
    &lt;li&gt;&lt;a href="#0" class="material-navbar__link"&gt;Link&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="#0" class="material-navbar__link"&gt;Link&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="#0" class="material-navbar__link"&gt;Link&lt;/a&gt;&lt;/li&gt;
   &lt;/ul&gt;		
  &lt;/div&gt;
 &lt;/div&gt;
&lt;/nav&gt;
			</code>
		</pre>
	</div>	
		}
<nav class="navbar material-navbar material-navbar_success">
	<div class="container-fluid">
		<div class="navbar-header material-navbar__header">
			<button class="navbar-toggle materail-navbar__toogle collapsed" data-toggle="collapse" data-target="#navbar-navbar_success">
				<span class="icon-bar materail-navbar__icon-bar"></span>
				<span class="icon-bar materail-navbar__icon-bar"></span>
				<span class="icon-bar materail-navbar__icon-bar"></span>
			</button>
			<a class="navbar-brand material-navbar__brand" href="#0">Brand</a>
		</div>
		<div class="collapse navbar-collapse materil-navbar__collapse" id="navbar-navbar_success">
			<ul class="nav navbar-nav navbar-right material-navbar__nav">
				<li><a href="#0" class="material-navbar__link">Link</a></li>
				<li><a href="#0" class="material-navbar__link">Link</a></li>
				<li><a href="#0" class="material-navbar__link">Link</a></li>
			</ul>		
		</div>
	</div>
</nav>
		@@if (show_code === "true") {
	<div class="highlight example_code">	
		<pre>
			<code class="language-html" data-lang="html">
&lt;nav class="navbar material-navbar material-navbar_success"&gt;
 &lt;div class="container-fluid"&gt;
  &lt;div class="navbar-header material-navbar__header"&gt;
   &lt;button class="navbar-toggle materail-navbar__toogle collapsed" data-toggle="collapse" data-target="#navbar-navbar_success"&gt;
    &lt;span class="icon-bar materail-navbar__icon-bar"&gt;&lt;/span&gt;
    &lt;span class="icon-bar materail-navbar__icon-bar"&gt;&lt;/span&gt;
    &lt;span class="icon-bar materail-navbar__icon-bar"&gt;&lt;/span&gt;
   &lt;/button&gt;
   &lt;a class="navbar-brand material-navbar__brand" href="#0"&gt;Brand&lt;/a&gt;
  &lt;/div&gt;
  &lt;div class="collapse navbar-collapse materil-navbar__collapse" id="navbar-navbar_success"&gt;
   &lt;ul class="nav navbar-nav navbar-right material-navbar__nav"&gt;
    &lt;li&gt;&lt;a href="#0" class="material-navbar__link"&gt;Link&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="#0" class="material-navbar__link"&gt;Link&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="#0" class="material-navbar__link"&gt;Link&lt;/a&gt;&lt;/li&gt;
   &lt;/ul&gt;		
  &lt;/div&gt;
 &lt;/div&gt;
&lt;/nav&gt;
			</code>
		</pre>
	</div>	
		}
<nav class="navbar material-navbar material-navbar_info">
	<div class="container-fluid">
		<div class="navbar-header material-navbar__header">
			<button class="navbar-toggle materail-navbar__toogle collapsed" data-toggle="collapse" data-target="#navbar-navbar_info">
				<span class="icon-bar materail-navbar__icon-bar"></span>
				<span class="icon-bar materail-navbar__icon-bar"></span>
				<span class="icon-bar materail-navbar__icon-bar"></span>
			</button>
			<a class="navbar-brand material-navbar__brand" href="#0">Brand</a>
		</div>
		<div class="collapse navbar-collapse materil-navbar__collapse" id="navbar-navbar_info">
			<ul class="nav navbar-nav navbar-right material-navbar__nav">
				<li><a href="#0" class="material-navbar__link">Link</a></li>
				<li><a href="#0" class="material-navbar__link">Link</a></li>
				<li><a href="#0" class="material-navbar__link">Link</a></li>
			</ul>		
		</div>
	</div>
</nav>
		@@if (show_code === "true") {
	<div class="highlight example_code">	
		<pre>
			<code class="language-html" data-lang="html">
&lt;nav class="navbar material-navbar material-navbar_info"&gt;
 &lt;div class="container-fluid"&gt;
  &lt;div class="navbar-header material-navbar__header"&gt;
   &lt;button class="navbar-toggle materail-navbar__toogle collapsed" data-toggle="collapse" data-target="#navbar-navbar_info"&gt;
    &lt;span class="icon-bar materail-navbar__icon-bar"&gt;&lt;/span&gt;
    &lt;span class="icon-bar materail-navbar__icon-bar"&gt;&lt;/span&gt;
    &lt;span class="icon-bar materail-navbar__icon-bar"&gt;&lt;/span&gt;
   &lt;/button&gt;
   &lt;a class="navbar-brand material-navbar__brand" href="#0"&gt;Brand&lt;/a&gt;
  &lt;/div&gt;
  &lt;div class="collapse navbar-collapse materil-navbar__collapse" id="navbar-navbar_info"&gt;
   &lt;ul class="nav navbar-nav navbar-right material-navbar__nav"&gt;
    &lt;li&gt;&lt;a href="#0" class="material-navbar__link"&gt;Link&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="#0" class="material-navbar__link"&gt;Link&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="#0" class="material-navbar__link"&gt;Link&lt;/a&gt;&lt;/li&gt;
   &lt;/ul&gt;		
  &lt;/div&gt;
 &lt;/div&gt;
&lt;/nav&gt;
			</code>
		</pre>
	</div>	
		}
<nav class="navbar material-navbar material-navbar_danger">
	<div class="container-fluid">
		<div class="navbar-header material-navbar__header">
			<button class="navbar-toggle materail-navbar__toogle collapsed" data-toggle="collapse" data-target="#navbar-navbar_danger">
				<span class="icon-bar materail-navbar__icon-bar"></span>
				<span class="icon-bar materail-navbar__icon-bar"></span>
				<span class="icon-bar materail-navbar__icon-bar"></span>
			</button>
			<a class="navbar-brand material-navbar__brand" href="#0">Brand</a>
		</div>
		<div class="collapse navbar-collapse materil-navbar__collapse" id="navbar-navbar_danger">
			<ul class="nav navbar-nav navbar-right material-navbar__nav">
				<li><a href="#0" class="material-navbar__link">Link</a></li>
				<li><a href="#0" class="material-navbar__link">Link</a></li>
				<li><a href="#0" class="material-navbar__link">Link</a></li>
			</ul>		
		</div>
	</div>
</nav>
		@@if (show_code === "true") {
	<div class="highlight example_code">	
		<pre>
			<code class="language-html" data-lang="html">
&lt;nav class="navbar material-navbar material-navbar_danger"&gt;
 &lt;div class="container-fluid"&gt;
  &lt;div class="navbar-header material-navbar__header"&gt;
   &lt;button class="navbar-toggle materail-navbar__toogle collapsed" data-toggle="collapse" data-target="#navbar-navbar_danger"&gt;
    &lt;span class="icon-bar materail-navbar__icon-bar"&gt;&lt;/span&gt;
    &lt;span class="icon-bar materail-navbar__icon-bar"&gt;&lt;/span&gt;
    &lt;span class="icon-bar materail-navbar__icon-bar"&gt;&lt;/span&gt;
   &lt;/button&gt;
   &lt;a class="navbar-brand material-navbar__brand" href="#0"&gt;Brand&lt;/a&gt;
  &lt;/div&gt;
  &lt;div class="collapse navbar-collapse materil-navbar__collapse" id="navbar-navbar_danger"&gt;
   &lt;ul class="nav navbar-nav navbar-right material-navbar__nav"&gt;
    &lt;li&gt;&lt;a href="#0" class="material-navbar__link"&gt;Link&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="#0" class="material-navbar__link"&gt;Link&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="#0" class="material-navbar__link"&gt;Link&lt;/a&gt;&lt;/li&gt;
   &lt;/ul&gt;		
  &lt;/div&gt;
 &lt;/div&gt;
&lt;/nav&gt;
			</code>
		</pre>
	</div>	
		}
<nav class="navbar material-navbar material-navbar_warning">
	<div class="container-fluid">
		<div class="navbar-header material-navbar__header">
			<button class="navbar-toggle materail-navbar__toogle collapsed" data-toggle="collapse" data-target="#navbar-navbar_warning">
				<span class="icon-bar materail-navbar__icon-bar"></span>
				<span class="icon-bar materail-navbar__icon-bar"></span>
				<span class="icon-bar materail-navbar__icon-bar"></span>
			</button>
			<a class="navbar-brand material-navbar__brand" href="#0">Brand</a>
		</div>
		<div class="collapse navbar-collapse materil-navbar__collapse" id="navbar-navbar_warning">
			<ul class="nav navbar-nav navbar-right material-navbar__nav">
				<li><a href="#0" class="material-navbar__link">Link</a></li>
				<li><a href="#0" class="material-navbar__link">Link</a></li>
				<li><a href="#0" class="material-navbar__link">Link</a></li>
			</ul>		
		</div>
	</div>
</nav>
		@@if (show_code === "true") {
	<div class="highlight example_code">	
		<pre>
			<code class="language-html" data-lang="html">
&lt;nav class="navbar material-navbar material-navbar_warning"&gt;
 &lt;div class="container-fluid"&gt;
  &lt;div class="navbar-header material-navbar__header"&gt;
   &lt;button class="navbar-toggle materail-navbar__toogle collapsed" data-toggle="collapse" data-target="#navbar-navbar_warning"&gt;
    &lt;span class="icon-bar materail-navbar__icon-bar"&gt;&lt;/span&gt;
    &lt;span class="icon-bar materail-navbar__icon-bar"&gt;&lt;/span&gt;
    &lt;span class="icon-bar materail-navbar__icon-bar"&gt;&lt;/span&gt;
   &lt;/button&gt;
   &lt;a class="navbar-brand material-navbar__brand" href="#0"&gt;Brand&lt;/a&gt;
  &lt;/div&gt;
  &lt;div class="collapse navbar-collapse materil-navbar__collapse" id="navbar-navbar_warning"&gt;
   &lt;ul class="nav navbar-nav navbar-right material-navbar__nav"&gt;
    &lt;li&gt;&lt;a href="#0" class="material-navbar__link"&gt;Link&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="#0" class="material-navbar__link"&gt;Link&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="#0" class="material-navbar__link"&gt;Link&lt;/a&gt;&lt;/li&gt;
   &lt;/ul&gt;		
  &lt;/div&gt;
 &lt;/div&gt;
&lt;/nav&gt;
			</code>
		</pre>
	</div>	
		}