		<ul class="pagination material-pagination @@if (show_code === "false") {main-container__column}">
			<li><a href="#0" class="material-pagination__link">&laquo;</a></li>
			<li><a href="#0" class="material-pagination__link">1</a></li>
			<li><a href="#0" class="material-pagination__link material-pagination__link_active">2</a></li>
			<li><a href="#0" class="material-pagination__link">3</a></li>
			<li><a href="#0" class="material-pagination__link material-pagination__link_disabled">4</a></li>
			<li><a href="#0" class="material-pagination__link">5</a></li>
			<li><a href="#0" class="material-pagination__link">&raquo;</a></li>
		</ul>
		@@if (show_code === "true") {
		<div class="highlight example_code">
			<pre>
				<code class="language-html" data-lang="html">
&lt;ul class="pagination material-pagination"&gt;
 &lt;li&gt;&lt;a href="#0" class="material-pagination__link"&gt;&laquo;&lt;/li&gt;
 &lt;li&gt;&lt;a href="#0" class="material-pagination__link"&gt;1&lt;/a&gt;&lt;/li&gt;
 &lt;li&gt;&lt;a href="#0" class="material-pagination__link material-pagination__link_active"&gt;2&lt;/a&gt;&lt;/li&gt;
 &lt;li&gt;&lt;a href="#0" class="material-pagination__link"&gt;3&lt;/a&gt;&lt;/li&gt;
 &lt;li&gt;&lt;a href="#0" class="material-pagination__link material-pagination__link_disabled"&gt;4&lt;/a&gt;&lt;/li&gt;
 &lt;li&gt;&lt;a href="#0" class="material-pagination__link"&gt;5&lt;/a&gt;&lt;/li&gt;
 &lt;li&gt;&lt;a href="#0" class="material-pagination__link"&gt;&raquo;&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
				</code>
			</pre>
		</div>
		}
		
		<ul class="pagination material-pagination material-pagination_primary @@if (show_code === "false") {main-container__column}">
			<li><a href="#0" class="material-pagination__link">&laquo;</a></li>
			<li><a href="#0" class="material-pagination__link">1</a></li>
			<li><a href="#0" class="material-pagination__link material-pagination__link_active">2</a></li>
			<li><a href="#0" class="material-pagination__link">3</a></li>
			<li><a href="#0" class="material-pagination__link material-pagination__link_disabled">4</a></li>
			<li><a href="#0" class="material-pagination__link">5</a></li>
			<li><a href="#0" class="material-pagination__link">&raquo;</a>
			</li>
		</ul>
		@@if (show_code === "true") {
		<div class="highlight example_code">
			<pre>
				<code class="language-html" data-lang="html">
&lt;ul class="pagination material-pagination material-pagination_primary"&gt;
 &lt;li&gt;&lt;a href="#0" class="material-pagination__link"&gt;&laquo;&lt;/li&gt;
 &lt;li&gt;&lt;a href="#0" class="material-pagination__link"&gt;1&lt;/a&gt;&lt;/li&gt;
 &lt;li&gt;&lt;a href="#0" class="material-pagination__link material-pagination__link_active"&gt;2&lt;/a&gt;&lt;/li&gt;
 &lt;li&gt;&lt;a href="#0" class="material-pagination__link"&gt;3&lt;/a&gt;&lt;/li&gt;
 &lt;li&gt;&lt;a href="#0" class="material-pagination__link material-pagination__link_disabled"&gt;4&lt;/a&gt;&lt;/li&gt;
 &lt;li&gt;&lt;a href="#0" class="material-pagination__link"&gt;5&lt;/a&gt;&lt;/li&gt;
 &lt;li&gt;&lt;a href="#0" class="material-pagination__link"&gt;&raquo;&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
				</code>
			</pre>
		</div>
		}		
		
		<ul class="pagination material-pagination material-pagination_success @@if (show_code === "false") {main-container__column}">
			<li><a href="#0" class="material-pagination__link">&laquo;</a></li>
			<li><a href="#0" class="material-pagination__link">1</a></li>
			<li><a href="#0" class="material-pagination__link material-pagination__link_active">2</a></li>
			<li><a href="#0" class="material-pagination__link">3</a></li>
			<li><a href="#0" class="material-pagination__link material-pagination__link_disabled">4</a></li>
			<li><a href="#0" class="material-pagination__link">5</a></li>
			<li><a href="#0" class="material-pagination__link">&raquo;</a></li>
		</ul>
		@@if (show_code === "true") {
		<div class="highlight example_code">
			<pre>
				<code class="language-html" data-lang="html">
&lt;ul class="pagination material-pagination material-pagination_success"&gt;
 &lt;li&gt;&lt;a href="#0" class="material-pagination__link"&gt;&laquo;&lt;/li&gt;
 &lt;li&gt;&lt;a href="#0" class="material-pagination__link"&gt;1&lt;/a&gt;&lt;/li&gt;
 &lt;li&gt;&lt;a href="#0" class="material-pagination__link material-pagination__link_active"&gt;2&lt;/a&gt;&lt;/li&gt;
 &lt;li&gt;&lt;a href="#0" class="material-pagination__link"&gt;3&lt;/a&gt;&lt;/li&gt;
 &lt;li&gt;&lt;a href="#0" class="material-pagination__link material-pagination__link_disabled"&gt;4&lt;/a&gt;&lt;/li&gt;
 &lt;li&gt;&lt;a href="#0" class="material-pagination__link"&gt;5&lt;/a&gt;&lt;/li&gt;
 &lt;li&gt;&lt;a href="#0" class="material-pagination__link"&gt;&raquo;&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
				</code>
			</pre>
		</div>
		}	

		<ul class="pagination material-pagination material-pagination_info @@if (show_code === "false") {main-container__column}">
			<li><a href="#0" class="material-pagination__link">&laquo;</a></li>
			<li><a href="#0" class="material-pagination__link">1</a></li>
			<li><a href="#0" class="material-pagination__link material-pagination__link_active">2</a></li>
			<li><a href="#0" class="material-pagination__link">3</a></li>
			<li><a href="#0" class="material-pagination__link material-pagination__link_disabled">4</a></li>
			<li><a href="#0" class="material-pagination__link">5</a></li>
			<li><a href="#0" class="material-pagination__link">&raquo;</a>

		</ul>
		@@if (show_code === "true") {
		<div class="highlight example_code">
			<pre>
				<code class="language-html" data-lang="html">
&lt;ul class="pagination material-pagination material-pagination_info"&gt;
 &lt;li&gt;&lt;a href="#0" class="material-pagination__link"&gt;&laquo;&lt;/li&gt;
 &lt;li&gt;&lt;a href="#0" class="material-pagination__link"&gt;1&lt;/a&gt;&lt;/li&gt;
 &lt;li&gt;&lt;a href="#0" class="material-pagination__link material-pagination__link_active"&gt;2&lt;/a&gt;&lt;/li&gt;
 &lt;li&gt;&lt;a href="#0" class="material-pagination__link"&gt;3&lt;/a&gt;&lt;/li&gt;
 &lt;li&gt;&lt;a href="#0" class="material-pagination__link material-pagination__link_disabled"&gt;4&lt;/a&gt;&lt;/li&gt;
 &lt;li&gt;&lt;a href="#0" class="material-pagination__link"&gt;5&lt;/a&gt;&lt;/li&gt;
 &lt;li&gt;&lt;a href="#0" class="material-pagination__link"&gt;&raquo;&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
				</code>
			</pre>
		</div>
		}

		<ul class="pagination material-pagination material-pagination_danger @@if (show_code === "false") {main-container__column}">
			<li><a href="#0" class="material-pagination__link">&laquo;</a></li>
			<li><a href="#0" class="material-pagination__link">1</a></li>
			<li><a href="#0" class="material-pagination__link material-pagination__link_active">2</a></li>
			<li><a href="#0" class="material-pagination__link">3</a></li>
			<li><a href="#0" class="material-pagination__link material-pagination__link_disabled">4</a></li>
			<li><a href="#0" class="material-pagination__link">5</a></li>
			<li><a href="#0" class="material-pagination__link">&raquo;</a>
		</ul>
		@@if (show_code === "true") {
		<div class="highlight example_code">
			<pre>
				<code class="language-html" data-lang="html">
&lt;ul class="pagination material-pagination material-pagination_danger"&gt;
 &lt;li&gt;&lt;a href="#0" class="material-pagination__link"&gt;&laquo;&lt;/li&gt;
 &lt;li&gt;&lt;a href="#0" class="material-pagination__link"&gt;1&lt;/a&gt;&lt;/li&gt;
 &lt;li&gt;&lt;a href="#0" class="material-pagination__link material-pagination__link_active"&gt;2&lt;/a&gt;&lt;/li&gt;
 &lt;li&gt;&lt;a href="#0" class="material-pagination__link"&gt;3&lt;/a&gt;&lt;/li&gt;
 &lt;li&gt;&lt;a href="#0" class="material-pagination__link material-pagination__link_disabled"&gt;4&lt;/a&gt;&lt;/li&gt;
 &lt;li&gt;&lt;a href="#0" class="material-pagination__link"&gt;5&lt;/a&gt;&lt;/li&gt;
 &lt;li&gt;&lt;a href="#0" class="material-pagination__link"&gt;&raquo;&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
				</code>
			</pre>
		</div>
		}	

		<ul class="pagination material-pagination material-pagination_warning @@if (show_code === "false") {main-container__column}">
			<li><a href="#0" class="material-pagination__link">&laquo;</a></li>
			<li><a href="#0" class="material-pagination__link">1</a></li>
			<li><a href="#0" class="material-pagination__link material-pagination__link_active">2</a></li>
			<li><a href="#0" class="material-pagination__link">3</a></li>
			<li><a href="#0" class="material-pagination__link material-pagination__link_disabled">4</a></li>
			<li><a href="#0" class="material-pagination__link">5</a></li>
			<li><a href="#0" class="material-pagination__link">&raquo;</a>
		</ul>
		@@if (show_code === "true") {
		<div class="highlight example_code">
			<pre>
				<code class="language-html" data-lang="html">
&lt;ul class="pagination material-pagination material-pagination_warning"&gt;
 &lt;li&gt;&lt;a href="#0" class="material-pagination__link"&gt;&laquo;&lt;/li&gt;
 &lt;li&gt;&lt;a href="#0" class="material-pagination__link"&gt;1&lt;/a&gt;&lt;/li&gt;
 &lt;li&gt;&lt;a href="#0" class="material-pagination__link material-pagination__link_active"&gt;2&lt;/a&gt;&lt;/li&gt;
 &lt;li&gt;&lt;a href="#0" class="material-pagination__link"&gt;3&lt;/a&gt;&lt;/li&gt;
 &lt;li&gt;&lt;a href="#0" class="material-pagination__link material-pagination__link_disabled"&gt;4&lt;/a&gt;&lt;/li&gt;
 &lt;li&gt;&lt;a href="#0" class="material-pagination__link"&gt;5&lt;/a&gt;&lt;/li&gt;
 &lt;li&gt;&lt;a href="#0" class="material-pagination__link"&gt;&raquo;&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
				</code>
			</pre>
		</div>
		}						