	<div class="panel panel-default material-panel">
		<h5 class="panel-heading material-panel__heading">Panel heading without title</h5>
		<div class="panel-body material-panel__body">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, minus, nulla exercitationem quos suscipit sunt veritatis alias laboriosam dicta dolor!</p>
		</div>
	</div>
		@@if (show_code === "true") {
		<div class="highlight example_code">
			<pre>
				<code class="language-html" data-lang="html">
&lt;div class="panel panel-default material-panel"&gt;
 &lt;h5 class="panel-heading material-panel__heading"&gt;Panel heading without title&lt;/h5&gt;
 &lt;div class="panel-body material-panel__body"&gt;...&lt;/div&gt;
&lt;/div&gt;
				</code>
			</pre>
		</div>
		}	
	<div class="panel panel-default material-panel material-panel_primary">
		<h5 class="panel-heading material-panel__heading">Panel heading without title</h5>
		<div class="panel-body material-panel__body">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, minus, nulla exercitationem quos suscipit sunt veritatis alias laboriosam dicta dolor!</p>
		</div>	</div>
		@@if (show_code === "true") {
		<div class="highlight example_code">
			<pre>
				<code class="language-html" data-lang="html">
&lt;div class="panel panel-default material-panel material-panel_primary"&gt;
 &lt;h5 class="panel-heading material-panel__heading"&gt;Panel heading without title&lt;/h5&gt;
 &lt;div class="panel-body material-panel__body"&gt;...&lt;/div&gt;
&lt;/div&gt;
				</code>
			</pre>
		</div>
		}
	<div class="panel panel-default material-panel material-panel_success">
		<h5 class="panel-heading material-panel__heading">Panel heading without title</h5>
		<div class="panel-body material-panel__body">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, minus, nulla exercitationem quos suscipit sunt veritatis alias laboriosam dicta dolor!</p>
		</div>	</div>
		@@if (show_code === "true") {
		<div class="highlight example_code">
			<pre>
				<code class="language-html" data-lang="html">
&lt;div class="panel panel-default material-panel material-panel_success"&gt;
 &lt;h5 class="panel-heading material-panel__heading"&gt;Panel heading without title&lt;/h5&gt;
 &lt;div class="panel-body material-panel__body"&gt;...&lt;/div&gt;
&lt;/div&gt;
				</code>
			</pre>
		</div>
		}
	<div class="panel panel-default material-panel material-panel_warning">
		<h5 class="panel-heading material-panel__heading">Panel heading without title</h5>
		<div class="panel-body material-panel__body">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, minus, nulla exercitationem quos suscipit sunt veritatis alias laboriosam dicta dolor!</p>
		</div>	</div>
		@@if (show_code === "true") {
		<div class="highlight example_code">
			<pre>
				<code class="language-html" data-lang="html">
&lt;div class="panel panel-default material-panel material-panel_warning"&gt;
 &lt;h5 class="panel-heading material-panel__heading"&gt;Panel heading without title&lt;/h5&gt;
 &lt;div class="panel-body material-panel__body"&gt;...&lt;/div&gt;
&lt;/div&gt;
				</code>
			</pre>
		</div>
		}
	<div class="panel panel-default material-panel material-panel_info">
		<h5 class="panel-heading material-panel__heading">Panel heading without title</h5>
		<div class="panel-body material-panel__body">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, minus, nulla exercitationem quos suscipit sunt veritatis alias laboriosam dicta dolor!</p>
		</div>	</div>
		@@if (show_code === "true") {
		<div class="highlight example_code">
			<pre>
				<code class="language-html" data-lang="html">
&lt;div class="panel panel-default material-panel material-panel_info"&gt;
 &lt;h5 class="panel-heading material-panel__heading"&gt;Panel heading without title&lt;/h5&gt;
 &lt;div class="panel-body material-panel__body"&gt;...&lt;/div&gt;
&lt;/div&gt;
				</code>
			</pre>
		</div>
		}
	<div class="panel panel-default material-panel material-panel_danger">
		<h5 class="panel-heading material-panel__heading">Panel heading without title</h5>
		<div class="panel-body material-panel__body">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, minus, nulla exercitationem quos suscipit sunt veritatis alias laboriosam dicta dolor!</p>
		</div>	</div>
		@@if (show_code === "true") {
		<div class="highlight example_code">
			<pre>
				<code class="language-html" data-lang="html">
&lt;div class="panel panel-default material-panel material-panel_danger"&gt;
 &lt;h5 class="panel-heading material-panel__heading"&gt;Panel heading without title&lt;/h5&gt;
 &lt;div class="panel-body material-panel__body"&gt;...&lt;/div&gt;
&lt;/div&gt;
				</code>
			</pre>
		</div>
		}
