	<div class="main-container__section">
		<ul class="nav nav-pills material-pills">
			<li class="active"><a href="#0" class="material-pills__link">Home</a></li>
			<li><a href="#0" class="material-pills__link material-pills__link_disabled">disabled</a></li>
			<li><a href="#0" class="material-pills__link">Messages</a></li>
			<li><a href="#0" class="material-pills__link">Messages</a></li>
			<li><a href="#0" class="material-pills__link">Messages</a></li>
			<li><a href="#0" class="material-pills__link">Messages</a></li>
		</ul>
	</div>
		@@if (show_code === "true") {
		<div class="highlight example_code">
			<pre>
				<code class="language-html" data-lang="html">
&lt;ul class="nav nav-pills material-pills"&gt;
 &lt;li class="active"&gt;&lt;a href="#0" class="material-pills__link"&gt;Home&lt;/a&gt;&lt;/li&gt;
 &lt;li&gt;&lt;a href="#0" class="material-pills__link material-pills__link_disabled"&gt;disabled&lt;/a&gt;&lt;/li&gt;
 &lt;li&gt;&lt;a href="#0" class="material-pills__link"&gt;Messages&lt;/a&gt;&lt;/li&gt;
 &lt;li&gt;&lt;a href="#0" class="material-pills__link"&gt;Messages&lt;/a&gt;&lt;/li&gt;
 &lt;li&gt;&lt;a href="#0" class="material-pills__link"&gt;Messages&lt;/a&gt;&lt;/li&gt;
 &lt;li&gt;&lt;a href="#0" class="material-pills__link"&gt;Messages&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
				</code>
			</pre>
		</div>
		}
	<div class="main-container__section">
		<ul class="nav nav-pills material-pills material-pills_primary">
			<li class="active"><a href="#0" class="material-pills__link">Home</a></li>
			<li><a href="#0" class="material-pills__link material-pills__link_disabled">disabled</a></li>
			<li><a href="#0" class="material-pills__link">Messages</a></li>
			<li><a href="#0" class="material-pills__link">Messages</a></li>
			<li><a href="#0" class="material-pills__link">Messages</a></li>
			<li><a href="#0" class="material-pills__link">Messages</a></li>
		</ul>
	</div>
		@@if (show_code === "true") {
		<div class="highlight example_code">
			<pre>
				<code class="language-html" data-lang="html">
&lt;ul class="nav nav-pills material-pills material-pills_primary"&gt;
 &lt;li class="active"&gt;&lt;a href="#0" class="material-pills__link"&gt;Home&lt;/a&gt;&lt;/li&gt;
 &lt;li&gt;&lt;a href="#0" class="material-pills__link material-pills__link_disabled"&gt;disabled&lt;/a&gt;&lt;/li&gt;
 &lt;li&gt;&lt;a href="#0" class="material-pills__link"&gt;Messages&lt;/a&gt;&lt;/li&gt;
 &lt;li&gt;&lt;a href="#0" class="material-pills__link"&gt;Messages&lt;/a&gt;&lt;/li&gt;
 &lt;li&gt;&lt;a href="#0" class="material-pills__link"&gt;Messages&lt;/a&gt;&lt;/li&gt;
 &lt;li&gt;&lt;a href="#0" class="material-pills__link"&gt;Messages&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
				</code>
			</pre>
		</div>
		}
	<div class="main-container__section">		
		<ul class="nav nav-pills material-pills material-pills_success">
			<li class="active"><a href="#0" class="material-pills__link">Home</a></li>
			<li><a href="#0" class="material-pills__link material-pills__link_disabled">disabled</a></li>
			<li><a href="#0" class="material-pills__link">Messages</a></li>
			<li><a href="#0" class="material-pills__link">Messages</a></li>
			<li><a href="#0" class="material-pills__link">Messages</a></li>
			<li><a href="#0" class="material-pills__link">Messages</a></li>
		</ul>
	</div>
		@@if (show_code === "true") {
		<div class="highlight example_code">
			<pre>
				<code class="language-html" data-lang="html">
&lt;ul class="nav nav-pills material-pills material-pills_success"&gt;
 &lt;li class="active"&gt;&lt;a href="#0" class="material-pills__link"&gt;Home&lt;/a&gt;&lt;/li&gt;
 &lt;li&gt;&lt;a href="#0" class="material-pills__link material-pills__link_disabled"&gt;disabled&lt;/a&gt;&lt;/li&gt;
 &lt;li&gt;&lt;a href="#0" class="material-pills__link"&gt;Messages&lt;/a&gt;&lt;/li&gt;
 &lt;li&gt;&lt;a href="#0" class="material-pills__link"&gt;Messages&lt;/a&gt;&lt;/li&gt;
 &lt;li&gt;&lt;a href="#0" class="material-pills__link"&gt;Messages&lt;/a&gt;&lt;/li&gt;
 &lt;li&gt;&lt;a href="#0" class="material-pills__link"&gt;Messages&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
				</code>
			</pre>
		</div>
		}
	<div class="main-container__section">		
		<ul class="nav nav-pills material-pills material-pills_info">
			<li class="active"><a href="#0" class="material-pills__link">Home</a></li>
			<li><a href="#0" class="material-pills__link material-pills__link_disabled">disabled</a></li>
			<li><a href="#0" class="material-pills__link">Messages</a></li>
			<li><a href="#0" class="material-pills__link">Messages</a></li>
			<li><a href="#0" class="material-pills__link">Messages</a></li>
			<li><a href="#0" class="material-pills__link">Messages</a></li>
		</ul>
	</div>
		@@if (show_code === "true") {
		<div class="highlight example_code">
			<pre>
				<code class="language-html" data-lang="html">
&lt;ul class="nav nav-pills material-pills material-pills_info"&gt;
 &lt;li class="active"&gt;&lt;a href="#0" class="material-pills__link"&gt;Home&lt;/a&gt;&lt;/li&gt;
 &lt;li&gt;&lt;a href="#0" class="material-pills__link material-pills__link_disabled"&gt;disabled&lt;/a&gt;&lt;/li&gt;
 &lt;li&gt;&lt;a href="#0" class="material-pills__link"&gt;Messages&lt;/a&gt;&lt;/li&gt;
 &lt;li&gt;&lt;a href="#0" class="material-pills__link"&gt;Messages&lt;/a&gt;&lt;/li&gt;
 &lt;li&gt;&lt;a href="#0" class="material-pills__link"&gt;Messages&lt;/a&gt;&lt;/li&gt;
 &lt;li&gt;&lt;a href="#0" class="material-pills__link"&gt;Messages&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
				</code>
			</pre>
		</div>
		}
	<div class="main-container__section">	
		<ul class="nav nav-pills material-pills material-pills_danger">
			<li class="active"><a href="#0" class="material-pills__link">Home</a></li>
			<li><a href="#0" class="material-pills__link material-pills__link_disabled">disabled</a></li>
			<li><a href="#0" class="material-pills__link">Messages</a></li>
			<li><a href="#0" class="material-pills__link">Messages</a></li>
			<li><a href="#0" class="material-pills__link">Messages</a></li>
			<li><a href="#0" class="material-pills__link">Messages</a></li>
		</ul>
	</div>
		@@if (show_code === "true") {
		<div class="highlight example_code">
			<pre>
				<code class="language-html" data-lang="html">
&lt;ul class="nav nav-pills material-pills material-pills_danger"&gt;
 &lt;li class="active"&gt;&lt;a href="#0" class="material-pills__link"&gt;Home&lt;/a&gt;&lt;/li&gt;
 &lt;li&gt;&lt;a href="#0" class="material-pills__link material-pills__link_disabled"&gt;disabled&lt;/a&gt;&lt;/li&gt;
 &lt;li&gt;&lt;a href="#0" class="material-pills__link"&gt;Messages&lt;/a&gt;&lt;/li&gt;
 &lt;li&gt;&lt;a href="#0" class="material-pills__link"&gt;Messages&lt;/a&gt;&lt;/li&gt;
 &lt;li&gt;&lt;a href="#0" class="material-pills__link"&gt;Messages&lt;/a&gt;&lt;/li&gt;
 &lt;li&gt;&lt;a href="#0" class="material-pills__link"&gt;Messages&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
				</code>
			</pre>
		</div>
		}
	<div class="main-container__section">	
		<ul class="nav nav-pills material-pills material-pills_warning">
			<li class="active"><a href="#0" class="material-pills__link">Home</a></li>
			<li><a href="#0" class="material-pills__link material-pills__link_disabled">disabled</a></li>
			<li><a href="#0" class="material-pills__link">Messages</a></li>
			<li><a href="#0" class="material-pills__link">Messages</a></li>
			<li><a href="#0" class="material-pills__link">Messages</a></li>
			<li><a href="#0" class="material-pills__link">Messages</a></li>
		</ul>
	</div>
		@@if (show_code === "true") {
		<div class="highlight example_code">
			<pre>
				<code class="language-html" data-lang="html">
&lt;ul class="nav nav-pills material-pills material-pills_warning"&gt;
 &lt;li class="active"&gt;&lt;a href="#0" class="material-pills__link"&gt;Home&lt;/a&gt;&lt;/li&gt;
 &lt;li&gt;&lt;a href="#0" class="material-pills__link material-pills__link_disabled"&gt;disabled&lt;/a&gt;&lt;/li&gt;
 &lt;li&gt;&lt;a href="#0" class="material-pills__link"&gt;Messages&lt;/a&gt;&lt;/li&gt;
 &lt;li&gt;&lt;a href="#0" class="material-pills__link"&gt;Messages&lt;/a&gt;&lt;/li&gt;
 &lt;li&gt;&lt;a href="#0" class="material-pills__link"&gt;Messages&lt;/a&gt;&lt;/li&gt;
 &lt;li&gt;&lt;a href="#0" class="material-pills__link"&gt;Messages&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
				</code>
			</pre>
		</div>
		}